<div>
    <div>
        <div>
            <div><span><a
                        href="https://play.google.com/store/apps/details?id=com.tinybuildgames.helloneighbor&amp;hl=en">
                        <h3>Hello Neighbor - Apps on Google Play</h3><br>
                        <div>
                            <div class="q0vns"><span class="H9lube">
                                    <div class="eqA2re NjwKYd Vwoesf"><img></div>
                                </span>
                                <div class="CA5RN">
                                    <div><span class="VuuXrf">Google Play</span></div>
                                    <div class="byrV5b"><cite class="qLRx3b tjvcx GvPZzd cHaqb"
                                            role="text">https://play.google.com<span class="ylgVCe ob9lvb" role="text">
                                                › store › apps › details › id=com...</span></cite></div>
                                </div>
                            </div>
                        </div>
                    </a></span>
                <div class="B6fmyf byrV5b Mg1HEd">
                    <div class="HGLrXd ojE3Fb">
                        <div class="q0vns"><span class="H9lube">
                                <div class="eqA2re NjwKYd" style="height:18px;width:18px"></div>
                            </span>
                            <div class="CA5RN">
                                <div><span class="VuuXrf">Google Play</span></div>
                                <div class="byrV5b"><cite class="qLRx3b tjvcx GvPZzd cHaqb"
                                        role="text">https://play.google.com<span class="ylgVCe ob9lvb" role="text"> ›
                                            store › apps › details › id=com...</span></cite></div>
                            </div>
                        </div>
                    </div>
                    <div class="csDOgf BCF2pd L48a4c">
                        <div id="_xJAIaeTcNJeEwPAP8YzqoAk_87" jsdata="l7Bhpb;_;xJAIaeTcNJeEwPAP8YzqoAk26"
                            jscontroller="i8S0p"
                            data-id="atritem-https://play.google.com/store/apps/details?id=com.tinybuildgames.helloneighbor&amp;hl=en"
                            jsslot="" jsaction="rcuQ6b:npT2md;h5M12e"
                            data-ved="2ahUKEwjkzv-X79WQAxUXAhAIHXGGGpQQ2esEegQIHhAJ">
                            <div class="MJ8UF iTPLzd rNSxBe eY4mx lUn2nc" style="position:absolute"
                                aria-label="About this result related to Google Play" role="button" tabindex="0"><span
                                    class="D6lY4c"><span class="xTFaxe z1asCe"
                                        style="height:18px;line-height:18px;width:18px"><svg focusable="false"
                                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path
                                                d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                                            </path>
                                        </svg></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kb0PBd ieodic" style="grid-area:nke7rc" data-snf="nke7rc" data-sncf="1">
        <div class="VwiC3b yXK7lf p4wth r025kc Hdw6tb" style="-webkit-line-clamp:5"><span>Hello Neighbor is a stealth
                horror game about <em>sneaking into your neighbor's house</em> to figure out what horrible secrets he's
                hiding in the basement.</span><a class="YHnjGc"
                href="https://play.google.com/store/apps/details?id=com.tinybuildgames.helloneighbor&amp;hl=en#:~:text=Hello%20Neighbor%20is%20a%20stealth,he's%20hiding%20in%20the%20basement."
                ping="/url?sa=t&amp;source=web&amp;rct=j&amp;opi=89978449&amp;url=https://play.google.com/store/apps/details%3Fid%3Dcom.tinybuildgames.helloneighbor%26hl%3Den%23:~:text%3DHello%2520Neighbor%2520is%2520a%2520stealth,he%27s%2520hiding%2520in%2520the%2520basement.&amp;ved=2ahUKEwjkzv-X79WQAxUXAhAIHXGGGpQQ77oQegQIMRAC"><span
                    class="znHwy z1asCe Sb7k4e" style="height:15px;line-height:15px;width:15px"><svg>
                    </svg></span></a></div>
    </div>
    <div class="kb0PBd LnCrMe" style="grid-area:Vjbam;width:92px;padding-top:8px;padding-left:20px" data-snf="Vjbam"
        data-sncf="0,1">
        <div><a>
                <div style="border-radius:8px;width:92px;height:92px" class="uhHOwf ez24Df"><img
                        alt="hello neighbour from play.google.com" id="dimg_xJAIaeTcNJeEwPAP8YzqoAk_21"
                        data-csiid="xJAIaeTcNJeEwPAP8YzqoAk_13" data-atf="1"></div>
            </a></div>
    </div>
    <div class="kb0PBd ieodic" style="grid-area:mCCBcf" data-snf="mCCBcf" data-sncf="2">
        <div class="uo4vr">
            <div class="ChPIuf YrbPuc"><span><span class="Y0A0hc"><span class="yi40Hd YrbPuc"
                            aria-hidden="true">3.9</span><span class="z3HNkc" aria-label="Rated 3.9 out of 5,"
                            role="img"><span aria-hidden="true"><span class="gTPtFb"
                                    style="background:linear-gradient(to right, currentcolor 56px, #80868b 0%)"></span></span></span><span
                            class="RDApEe YrbPuc">(531,230)</span></span> · </span>Free · &lrm;Android · &lrm;Game</div>
        </div>
    </div>
</div>
</div>